body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 30px;
    width: 600px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-left {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],input[type="email"],input[type="password"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

input.error {
    border-color: red;
    color: red;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.password-container {
    position: relative;
}

.password-tooggle {
    position: absolute;
    right: 110px;
    top: 20%;
    transform: scale(110%);
    cursor: pointer;
}

p{
    font-size: 15px;
    margin-top: 10px;
}

button {
    background-color: black;
    color: white;
    width: 60%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 20px;
}

.form-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-circle {
    width: 80px;
    height: 80px;
    border: 8px solid #ccc;
    border-radius: 50%;
    border-left-color: black;
    border-top-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 14px;
}

.completeness-list {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
}

.completeness-list li {
    margin-bottom: 5px;
    text-decoration: line-through;
    color: #aaa;
}

.completeness-list li:not(.completed) {
    text-decoration: none;
    color: black;
}